.env
.env*.local
node_modules

install/odh/overlays/dev/kustomization.yaml
install/odh/overlays/dev/deployment_patch.yaml

# editor
.idea/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
coverage

# misc
.DS_Store
